<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Order</th>
                <th>Modify</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for order in order_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ order }}</td>
                <td><a href="">Modify</a></td>
                <td><a href="">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>